body {
    background-color: beige;
}

.top {
    text-align: center;
}

.top h2 {
    display: inline;
}

.top h1 {
    display: inline;
}

.main {
    margin: 0 auto;
    width: 700px;
}

#canvas {

}
